html{
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    background-color: white;
    height: 100%;
    /*background-image: url(../img/home_bg.jpg);*/
}
p{
    margin: 0;
}
.background{
    width: 1600px;
    height: 100%;
    margin: 0 auto;
    background-image: url(../img/home_bg.jpg);
    background-size: cover;
}
.logo-font{
    font-size: 24px;
    color: white;
}
.logo-box{
    height: 70px;
    padding: 0 20px;
    float: left;
}
.button{
    width: 30px;
    height: 20px;
}